<div class="container">
    <h1>Crear usuario:</h1>
    <hr>

    <button class="btn btn-warning" (click)="limpiarFormulario()">Limpiar formulario</button>
    <form (ngSubmit)="guardarUsuario()" id="guardarUsuarioForm">
    

        <div class="mb-3">
            <label class="form-label">Nombre: *</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre" 
            [ngModelOptions]="{standalone:true}"
            placeholder="Nombre"
            >
          </div>
          <div class="mb-3">
            <label class="form-label">Apellido: *</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.apellido" 
            [ngModelOptions]="{standalone:true}"
            placeholder="Apellido"
            >
          </div>

        <div class="mb-3">
            <label class="form-label">Email: *</label>
            <input type="email" class="form-control" [(ngModel)]="usuario.correo" 
            [ngModelOptions]="{standalone:true}"
            placeholder="Email"
            >
          </div>
          <div class="mb-3">
            <label class="form-label">Telefono: *</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.telefono" 
            [ngModelOptions]="{standalone:true}"
            placeholder="Telefono"
            >
          </div>
          <div class="mb-3">
            <label class="form-label">Password: *</label>
            <input type="password"  class="form-control"
            [(ngModel)]="usuario.password"  
            [ngModelOptions]="{standalone:true}"
            placeholder="Password"
            >
        </div>
           <div class="mb-3">
              <label class="form-label">Seleccionar imagen</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="onFileSelected($event)" id="customFile" accept="image/*">
                <label class="custom-file-label" for="customFile">Elegir archivo</label>
              </div>
              <img class="img-thumbnail mt-3" *ngIf="imageUrl" [src]="imageUrl" alt="Imagen">
            </div>
    

        <div class="mb-3">
            <label class="form-label">Estado: *</label>
        <select class="form-select"
        [(ngModel)]="usuario.estado"  
        [ngModelOptions]="{standalone:true}"
        (change)="llamarEstado($event)" 
        required
        >
            
            <option *ngFor="let estado of estados" value="{{estado.valor}}">{{estado.valor}}</option>
          </select>
        </div>
    
        <input type="submit" class="btn btn-outline-primary float-end" value="Guardar">
    </form>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Acciones</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.idusuario}}</th>
            <td>
                <button class="btn btn-warning" (click) ="modificar(usuario)">Modificar</button>
                &nbsp;
                <button class="btn btn-danger" (click)="eliminar(usuario)">Eliminar</button>
            </td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.fechaCreacion}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.estado}}</td>
          </tr>
          
        </tbody>
      </table>
<div>
</div>
</div>